Repository airshipit/treasuremap: changes, and which Zuul jobs are due for each by the changed paths.
All: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

treasuremap-site-lint:
  description: Lint a site using Pegleg. Default site is airship-seaworthy.
  nodeset: treasuremap-single-node
  timeout: 900
  pre-run:
  - tools/gate/playbooks/install-docker.yaml
  - tools/gate/playbooks/git-config.yaml
  run: tools/gate/playbooks/site-lint.yaml
  required-projects:
  - airship/pegleg
  vars:
  ...

treasuremap-airship-seaworthy-site-lint:
  description: 'Lint the airship-seaworthy site using Pegleg.
  
    '
  parent: treasuremap-site-lint
  vars:
    site: airship-seaworthy

treasuremap-airskiff-site-lint:
  description: 'Lint the airskiff site using Pegleg.
  
    '
  parent: treasuremap-site-lint
  vars:
    site: airskiff

treasuremap-airsloop-site-lint:
  description: 'Lint the airsloop site using Pegleg.
  
    '
  parent: treasuremap-site-lint
  vars:
    site: airsloop

treasuremap-airskiff-deployment:
  nodeset: treasuremap-single-node
  description: 'Deploy Memcached using Airskiff and latest Treasuremap changes.
  
    '
  voting: false
  timeout: 9600
  pre-run:
  - tools/gate/playbooks/git-config.yaml
  - tools/gate/playbooks/airskiff-reduce-site.yaml
  run: tools/gate/playbooks/airskiff-deploy-gate.yaml
  ...

Fix paths to shipyard and promenade directories
  doc/source/authoring_and_deployment.rst
Due: none

Uplift and Armada timeout fix
  global/software/charts/ucp/armada/armada.yaml
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Improvements for tools/airship
  tools/airship
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Support latest MAAS in Airsloop
  global/software/config/versions.yaml
  type/sloop/charts/ucp/comps/drydock.yaml
  type/sloop/charts/ucp/comps/maas.yaml
  type/sloop/config/endpoints.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Add a missing license header for airship cli
  tools/airship
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Remove bonding references from Airsloop networks
  site/airsloop/networks/physical/networks.yaml
Due: treasuremap-site-lint, treasuremap-airsloop-site-lint

tenant-ceph doc update
  doc/source/authoring_and_deployment.rst
Due: none

Fix shipyard subcommand for airship cli
  tools/airship
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Fix RabbitMQ for OSH
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Fixes to MAAS HA and follow-up to comments
  global/profiles/genesis.yaml
  global/profiles/host/cp.yaml
  global/software/charts/ucp/drydock/maas.yaml
  global/software/manifests/full-site.yaml
  site/airship-seaworthy/networks/common-addresses.yaml
  site/airship-seaworthy/profiles/genesis.yaml
  site/airskiff/profiles/genesis.yaml
  site/airsloop/profiles/genesis.yaml
  type/foundry/charts/ucp/comps/chart-group.yaml
  type/foundry/charts/ucp/comps/maas-scaled.yaml
  type/foundry/charts/ucp/comps/maas.yaml
  type/sloop/charts/ucp/comps/maas.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Create documentation for airsloop site
  doc/source/airsloop.rst
  doc/source/index.rst
Due: none

Initial implementation of Troubleshooting Guide
  doc/source/index.rst
  doc/source/troubleshooting_guide.rst
Due: none

Uplift Airskiff pinned Helm-Toolkit
  tools/deployment/airskiff/developer/005-clone-dependencies.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Add a site update guide
  doc/source/config_update_guide.rst
  doc/source/index.rst
  doc/source/troubleshooting_guide.rst
Due: none

MAAS rack registration fix
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Updated OSH-Infra SHA for airskiff
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

airskiff: Remove CI OSH-infra relative path
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

airskiff: Use global Airship charts
  site/airskiff/networks/common-addresses.yaml
  site/airskiff/software/charts/ucp/armada/armada.yaml
  site/airskiff/software/charts/ucp/armada/chart-group.yaml
  site/airskiff/software/charts/ucp/core/ingress.yaml
  site/airskiff/software/charts/ucp/core/mariadb.yaml
  site/airskiff/software/charts/ucp/core/rabbitmq.yaml
  site/airskiff/software/charts/ucp/deckhand/barbican.yaml
  site/airskiff/software/charts/ucp/deckhand/deckhand.yaml
  site/airskiff/software/charts/ucp/keystone/keystone.yaml
  site/airskiff/software/charts/ucp/shipyard/shipyard.yaml
  site/airskiff/software/config/endpoints.yaml
  site/airskiff/software/manifests/ucp-bootstrap.yaml
  tools/deployment/airskiff/common/os-env.sh
  tools/deployment/airskiff/common/setup-proxy.sh
  tools/deployment/airskiff/developer/020-setup-client.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/deployment/airskiff/manifests/airship.yaml
  tools/gate/wait-for-shipyard.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Use the latest read the docs theme
  doc/requirements.txt
Due: none

Add drydock and maas endpoints in a site authoring guide
  doc/source/authoring_and_deployment.rst
Due: none

Pipeline for Airsloop site
  tools/gate/airsloop/Jenkinsfile
  tools/gate/airsloop/seed.groovy
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Fix formatting for airsloop guide
  doc/source/airsloop.rst
Due: none

Use the Airship CLI for lint and Airskiff gates
  tools/airship
  tools/deployment/airskiff/developer/005-clone-dependencies.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/gate/lint-site.sh
  tools/gate/wait-for-shipyard.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Align treasuremap type docs
  doc/source/airskiff.rst
  doc/source/airsloop.rst
  doc/source/index.rst
  doc/source/seaworthy.rst
Due: none

Airskiff: update packages prior to delete
  tools/deployment/airskiff/developer/000-install-packages.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Add Airsloop architecture diagram
  doc/source/airsloop.rst
  doc/source/diagrams/airsloop-architecture.png
Due: none

Airskiff: add deps needed for a fresh install
  tools/deployment/airskiff/developer/000-install-packages.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

docs: Add initial contributors' guide
  doc/source/development_guide.rst
  doc/source/index.rst
Due: none

Fix airskiff endpoint catalog
  site/airskiff/software/config/endpoints.yaml
  tools/deployment/airskiff/developer/020-setup-client.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Created global layer chart for OpenStack Tempest
  global/software/charts/osh/openstack-tempest/chart-group.yaml
  global/software/charts/osh/openstack-tempest/tempest.yaml
  global/software/config/versions.yaml
  site/airship-seaworthy/secrets/passphrases/osh_tempest_password.yaml
  site/airship-seaworthy/software/config/service_accounts.yaml
  site/airskiff/secrets/passphrases/osh_tempest_password.yaml
  site/airskiff/software/config/service_accounts.yaml
  site/airsloop/secrets/passphrases/osh_tempest_password.yaml
  type/sloop/config/service_accounts.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

promenade_api proxy input correction
  site/airship-seaworthy/software/charts/ucp/promenade/promenade.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint

Increase default logging for openstack services
  global/software/charts/osh/openstack-cinder/cinder.yaml
  global/software/charts/osh/openstack-compute-kit/neutron.yaml
  global/software/charts/osh/openstack-compute-kit/nova.yaml
  global/software/charts/osh/openstack-glance/glance.yaml
  global/software/charts/osh/openstack-heat/heat.yaml
  global/software/charts/osh/openstack-keystone/keystone.yaml
  global/software/charts/ucp/deckhand/barbican.yaml
  global/software/charts/ucp/keystone/keystone.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Enable service specific version of helm toolkit used in OSH services
  global/software/charts/osh/openstack-cinder/cinder.yaml
  global/software/charts/osh/openstack-cinder/rabbitmq.yaml
  global/software/charts/osh/openstack-compute-kit/libvirt.yaml
  global/software/charts/osh/openstack-compute-kit/neutron-rabbitmq.yaml
  global/software/charts/osh/openstack-compute-kit/neutron.yaml
  global/software/charts/osh/openstack-compute-kit/nova-rabbitmq.yaml
  global/software/charts/osh/openstack-compute-kit/nova.yaml
  global/software/charts/osh/openstack-compute-kit/openvswitch.yaml
  global/software/charts/osh/openstack-glance/glance.yaml
  global/software/charts/osh/openstack-glance/rabbitmq.yaml
  global/software/charts/osh/openstack-heat/heat.yaml
  global/software/charts/osh/openstack-heat/rabbitmq.yaml
  global/software/charts/osh/openstack-horizon/horizon.yaml
  global/software/charts/osh/openstack-ingress-controller/ingress.yaml
  global/software/charts/osh/openstack-keystone/keystone.yaml
  global/software/charts/osh/openstack-keystone/rabbitmq.yaml
  global/software/charts/osh/openstack-mariadb/mariadb.yaml
  global/software/charts/osh/openstack-memcached/memcached.yaml
  global/software/charts/osh/openstack-tempest/tempest.yaml
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Airskiff: fix bridge name in a neutron config
  site/airskiff/software/charts/osh/openstack-compute-kit/neutron.yaml
Due: treasuremap-site-lint, treasuremap-airskiff-site-lint, treasuremap-airskiff-deployment

Fix rtd publishing
  .zuul.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Stability workarounds for ceph/cgroups issues
  global/scripts/hanging-cgroup-release.yaml
  global/scripts/rbd-roomba-scanner.yaml
  global/software/charts/ucp/divingbell/divingbell.yaml
  tools/fixes/hanging-cgroup-release.sh
  tools/fixes/rbd-roomba-scanner.sh
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Add Zuul job for mirroring to GitHub
  .zuul.yaml
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Fix dpkg/apt commands in tools/airship script
  tools/airship
Due: treasuremap-site-lint, treasuremap-airship-seaworthy-site-lint, treasuremap-airskiff-site-lint, treasuremap-airsloop-site-lint, treasuremap-airskiff-deployment

Update documentation with proxy specific changes
  doc/source/airsloop.rst
Due: none

Path conditions:
  treasuremap-site-lint: unless all of: ^.*\.rst$, ^doc/.*$
  treasuremap-airship-seaworthy-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$
  treasuremap-airskiff-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/airship-seaworthy/.*$, ^site/airsloop/.*$
  treasuremap-airsloop-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/airship-seaworthy/.*$, ^site/airskiff/.*$
  treasuremap-airskiff-deployment: unless all of: ^.*\.rst$, ^doc/.*$, ^site/airship-seaworthy/.*$, ^site/airsloop/.*$
